---
---

$link-colour: #2a3439;
$pale-gray: #fdfdfd;
$pale-green: #87CF87;

// Mixin to prefix a property
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

body {
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: block;

    &.main-container {
        width: 500px;
        height: 500px;
        margin: auto;
        position: relative;
    }

    .nav-bar {
        margin: 0;
        position: absolute;
        top: 58%;
        left: 50%;
        @include prefix(transform, translate(-50%, -50%), moz webkit ms);
    }

    &.nav-bar {
        z-index: 1;
    }

    #hello-css {
        top: 46%;
        left: 50%;
        position: absolute;
        @include prefix(transform, translate(-50%, -50%), moz webkit ms);
    }
}

nav {
    a {
        font-family: "Merriweather", serif;
        text-decoration: none;
        color: $link-colour;
        @include prefix(transition, .5s, moz webkit ms);


        &:hover {
            color: $pale-green;
        }
    }
}

_::-webkit-:not(:root:root), .safari-fix {
    @include prefix(transform, translate(-50%, -50%) scale(2), webkit);
    zoom: 0.5;
}

_::-webkit-:not(:root:root), .nav-bar {
    @include prefix(transform, translate(-50%, -50%) scale(1.7), webkit);
    zoom: 0.5;
}
