---
---

$link-colour: #2a3439;

div {
    display: block;

    &.main-container {
        width: 500px;
        height: 500px;
        position: fixed;
    }

    .nav-bar {
        margin: 0;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #hello-css {
        top: 46%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

nav {
    a {
        font-family: "Merriweather", serif;
        text-decoration: none;
        color: $link-colour;

        &:hover {
        }
    }
}
