body {
    text-align: center;
}

h1 {
    margin-top: 1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    color: rgba(#d64a0e,.75);
    font-size: 10em;

    &:before {
        content: 'Hello';
        position: absolute;
        top: 8px;
        left: 8px;
        color: rgba(#0f7c88,.75);
    }

    &:after {
        content: 'Hello';
        position:
        absolute;
        top: -8px;
        left:
        -8px;
        color:
        rgba(#eecf4f,.75);
    }
}
