---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hello.">
        <meta name="author" content="Felix Chiasson">
        <title>Hello.</title>
        <!-- Main css -->
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <!-- Fonts -->
        <link
        href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic,300,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700"
        rel="stylesheet">
        <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
        <script
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Future-proofing compatibility -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://use.fontawesome.com/b253b434f5.js"></script>
    </head>
    <body>
        <div class="main-container">
            <div class="nav-bar">
                <nav class="nav-fixed-top">
                    <a href="https://github.com/felixchiasson">github</a>
                    &nbsp; | &nbsp; <a
                        href="mailto:hello@felixchiasson.ca">mail</a>
                    &nbsp; | &nbsp; <a href="https://twitter.com/felixchiasson">twitter</a>
                    &nbsp; | &nbsp; <a href="https://keybase.io/flxc"><i
                                       class="fa fa-lock"
                                       aria-hidden="true"></i></a>
                </nav>
            </div>
        {{ content }}
        </div>
    </body>
</html>
